.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  width: 80%;
  max-width: 600px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.task-title {
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.row:last-child {
  border-bottom: none;
}

.total {
  margin-top: 20px;
}

.total span {
  margin-right: 10px;
}

input[type="checkbox"] {
  transform: scale(1.5);
}


.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.animal-container {
  margin-bottom: 20px;
}

.animal-details {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}
